{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link href="{% static 'css/adminregister.css' %}" rel="stylesheet">
<body style="color:aqua">
<h4 align="center" style="color:silver blue"><u><i>Admin registration</i></u></h4>
<form action="regdata" method="post">
  {% csrf_token %}
  <table align="center" style="color:yellow">
    <tr>
      <td>Username</td>
      <td><input type="text" name="name"></td>
    </tr>
    <tr>
      <td>email</td>
      <td><input type="email" name="email"></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="password" name="pass"></td>
    </tr>
    <tr>
      <td><input type="submit" value="REGISTER" name="btnsubmit" style="background-color:red"></td>
    </tr>
  </table>
</form>


</body>
</html>