{% extends 'navbar2.html' %}
{% block content %}
<form action="updatepro" method="post">
    {% csrf_token %}
    <marquee behavior="alternate" scrollamount="10" loop="10"><b><h style="color:purple"><i><u><b>update the student details...</u></i></h></b></marquee>
    <br>
<table align="center" style="color:blue">
    <tr>
        <td>Name:</td>
        <td><input type="text" name="name" value="{{data.Student_Name}}"></td>
    </tr>
    <tr>
        <td>Phno:</td>
        <td><input type="number" name="phno" value="{{data.Student_Phno}}" ></td>
    </tr>
    <tr>
        <td>Course</td>
        <td><input type="text" name="course" value="{{data.Student_Course}}" disabled style="color:green"></td>
    </tr>
    <tr>
        <td>Semester</td>
        <td><input type="number" name="sem" value="{{data.Student_Sem}}"></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td><input type="password" name="pass" value="{{data.Student_Pswd}}"></td>
    </tr>
    <tr>
        <td><input type="submit" name="btnsubmit" value="submit" style="background-color:red"></td>
    </tr>

</table>
</form>
{% endblock %}