body
{
background-image:url(https://th.bing.com/th/id/R.76f75f9d0034c89495d520bbc19534fb?rik=3X6gaqdcaaP3zQ&riu=http%3a%2f%2f3.bp.blogspot.com%2f_f4FzU-Hqks4%2fS3holcxfClI%2fAAAAAAAAAKU%2fynlsTEkTPRc%2fs640%2fIMG_3294.JPG&ehk=T48%2fm6kmqVWDmtuSAZ7fLnEf%2b7TId0nMstrY8Xxhre4%3d&risl=&pid=ImgRaw&r=0);
background-repeat:no-repeat;
background-size:100%;
}